.bmp-editor {
    width: 100%;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    grid-template-rows: repeat(auto-fill, 50px);
    grid-auto-rows: 50px;
}

.bmp-editor .bmp-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    overflow: hidden;
}

.bmp-editor input {
    width: 40px;
    height: 50px;
    border: none;
    background-color: white;
    text-align: center;
    font-size: 1em;
    font-family: monospace;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bmp-editor input:focus {
    outline: none;
}

.bmp-editor input:disabled {
    background-color: #eee;
}

.bmp-preview-container {
    width: 100%;
    position: relative;
}

.bmp-preview {
    position: sticky;
    top: 10px;
    width: 100%;
}

.bmp-preview a {
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: underline;
    color: blue;
    margin-top: 10px;
    cursor: pointer;
}

.bmp-preview img {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
    image-rendering: pixelated;
    border: 1px solid black;
}