*, *::before, *::after {
  box-sizing: border-box;
}

html {
    font-family: Verdana, system-ui, sans-serif;
    line-height: 1.7em;
    font-size: 12pt;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;

    --color-1: #1D1D2C;
    --color-2: #2f2f3a;
    --color-3: #2539ca;
    --color-4: #EBA63F;
    --color-5: #E40C2B;
    --color-6: #438945;
}

h1, h2, h3, h4, h5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    clear: both;
}

h1 {
    margin-top: 2.1em;
    margin-bottom: 1.1em;
    font-size: 1.6em;
}

h2 {
    margin-top: 1.8em;
    margin-bottom: 1em;
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
    margin-top: 1.6em;
    margin-bottom: 0.8em;
}

.anchor-link {
    color: #ddd;
    text-decoration: none;
    font-size: 0.8em;
    margin-left: 10px;
    visibility: hidden;
}

.anchor-link:hover {
    color: #aaa;
}

h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h5:hover .anchor-link,
h6:hover .anchor-link {
    visibility: visible;
}


h4, h5 {
    font-size: 1.1em;
    margin-top: 1.5em;
    margin-bottom: 0.7em;
}

h2:first-child, h3:first-child {
    margin-top: 0;
}

header h1, header h2 {
    margin-top: 0;
}

header p {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-variant: all-small-caps;
}

header {
    margin-bottom: 50px;
}

p {
    line-height: 1.7em;
}

i.fa {
    display: inline-block;
    font-style: normal;
}

i.fa.round {
    border-radius: 50%;
    background: black;
    color: white;
    font-size: 1em;
    width: 1.4em;
    height: 1.4em;
    text-align: center;
    line-height: 1.4em;
}

ul, ol {
    line-height: 1.7em;
}

code, .truth-table th, .code {
    font-family: "Consolas", "Courier New", Courier, monospace !important;
    font-size: 1.2em;
}

code, .truth-table th {
    background: #f5f5f5;
}

code {
    padding: 2px 5px;
    border-radius: 10px;
    white-space: nowrap;
}

.wrap {
    white-space: normal;
}

q {
    font-style: italic;
}

blockquote {
    position: relative;
    margin: 0;
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
    background: #eee;
    border-radius: 30px 5px 30px 5px;
}

blockquote:before,
blockquote:after {
    display: inline-block;
    vertical-align: bottom;
    color: #fff;
    font-size: 6em;
    position: absolute;
    font-family: Georgia, serif;
}

blockquote:before {
    top: 40px;
    left: 15px;
    content: "“";
}

blockquote:after {
    bottom: -10px;
    right: 15px;
    content: "”";
}

blockquote p {
    margin: 0;
    padding: 0;
}

blockquote p:last-child {
    text-align: right;
    padding-right: 40px;
}

.table-of-content a {
    color: var(--color-1);
    text-decoration: underline;
    text-underline-offset: 2px;
}

body {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

main {
    position: relative;
}

main section {
    padding: 20px;
    padding-top: 10px;
    overflow-x: hidden;
}

section {
    position: relative;
}

main .illustration {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 80%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

main .illustration img {
    display: inline-block;
    max-width: 100%;
    max-height: 80vh;
}

main .illustration .legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    color: #444;
    text-align: center;
}

main a {
    color: var(--color-1);
    text-underline-offset: 2px;
}

main a:hover {
    color: var(--color-2);
}

section::after {
    content: "";
    display: block;
    clear: both;
}

footer p {
    font-size: 0.9em;
    color: #777;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
}

footer p a {
    color: #777;
    text-decoration: underline;
}

.self-check, .example, .tryout, .objectives {
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    position: relative;
    border: 2px solid #ddd;
    clear: both;
}

.box-header {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background-color: white;
}

.box-header h4 {
    margin: 0;
}

.box-header i {
    margin-right: 5px;
}

select.self-pick {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    padding-left: 5px;
    padding-right: 30px;
    margin: 0;
    margin-bottom: 2px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    border-radius: 10px;
    color: black;
}

.select-wrapper {
    display: inline-block;
    white-space: nowrap;
    position: relative;
}

.select-wrapper i {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #ccc;
}

.select-wrapper.correct i {
    color: green;
}

.select-wrapper.incorrect select {
    color: white;
    background-color: var(--color-5);
}

.select-wrapper.incorrect i {
    color: white;
}

.chapter-nav {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #ccc;
}

.chapter-nav > div {
    flex: 1 1 0px;
    overflow: hidden;
}

.chapter-nav div.middle {
    text-align: center;
    flex: 0 0 auto;
}

.chapter-nav div.next i.fa, .chapter-nav div.prev i.fa {
    font-size: 1.5em;
}

.chapter-nav select.global-nav {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.1em;
    text-align: left;
    cursor: pointer;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 35px;
}

.chapter-nav .middle {
    position: relative;
}

.chapter-nav .middle .select-decorator {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #ccc;
    padding-left: 8px;
    border-left: 1px solid #ccc;
}

.chapter-nav .middle .select-decorator i {
    padding-bottom: 4px;
}

.chapter-nav a {
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: var(--color-1);
    width: 100%;
    overflow: hidden;
}

.chapter-nav a i.fa {
    flex: 0 0 20px;
}

.chapter-nav a > div {
    display: none;
    flex-direction: column;
    flex: 1 1 0px;
    overflow: hidden;
}

.chapter-nav div.next {
    text-align: right;
}

.chapter-nav a.next div {
    text-align: right;
}

.chapter-nav a div span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chapter-nav a.prev {
    justify-content: flex-start;
}

.chapter-nav a.next {
    justify-content: flex-end;
}

.chapter-nav a:hover {
    color: var(--color-2);
}

.chapter-nav a .label {
    color: #999;
    font-variant: all-small-caps;
}

.chapter-nav a > div {
    display: none;  /* hide on mobile */
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
    input[type="range"]::-webkit-slider-runnable-track {
    background-color: #ffffff;
    border-radius: 1rem;
    height: 1rem;
    border: 1px solid #aaaaaa;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -8px; /* Centers thumb on the track */
    background-color: #999999;
    border-radius: 0.5rem;
    height: 2rem;
    width: 1.5rem;
    border: 1px outset #808080;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 2px solid #808080;
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #ffffff;
    border-radius: 1rem;
    height: 1rem;
    border: 1px solid #aaaaaa;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: #999999;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 2rem;
    width: 1.5rem;
    border: 1px outset #808080;
}

input[type="range"]:focus::-moz-range-thumb{
    outline: 2px solid #808080;
    outline-offset: 0.125rem;
}

button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px outset #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #ddd;
    cursor: pointer;
    font-size: 1em;
}

button:active {
    border: 1px inset #ccc;
    /* Move the text down a bit */
    transform: translateY(1px);
}

.expr {
    font-size: inherit;
    font-family: "Consolas", 'Courier New', Courier, monospace;
}

.expr-input, .expr-inter-input {
    display: flex;
    gap: 10px;
    flex-direction: column; /* column on mobile */
}

.expr-input input, .expr-inter-input input {
    font-size: inherit;
    flex-grow: 1;
    font-family: "Consolas", 'Courier New', Courier, monospace;
}

.expr-input input::placeholder, .expr-inter-input input::placeholder {
    color: #999;
}

.expr-input button, .expr-inter-input button {
    font-size: inherit;
}

.expr-tree-container button {
    margin-right: 10px;
    font-size: inherit;
}

.truth-table-container {
    overflow-x: auto;
}

table.truth-table {
    border-collapse: collapse;
    border-spacing: 0;
    border-style: hidden;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

table.truth-table th, table.truth-table td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    font-weight: normal;
}

table.truth-table th:first-of-type {
    border-radius: 10px 0 0 0;
}

table.truth-table th:last-of-type {
    border-radius: 0 10px 0 0;
}

table.truth-table .delimited {
    border-left: 4px double #ccc;
}

table.truth-table tr.highlighted {
    background-color: #ffffcc;
}

table.truth-table tr.dimmed {
    background-color: #eeeeff;
}

table.truth-table tr.incorrect {
    background-color: #ffcccc;
    color: red;
}

table.truth-table tr.correct {
    background-color: #ccffcc;
    color: green;
}

.bernays {
    margin-top: 40px;
    margin-bottom: 40px;
    overflow-x: auto;
    white-space: nowrap;
    font-family: "Consolas", 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

.bernays .tree {
    width: fit-content;
    display: flex;
    flex-direction: column;
    z-index: 1;
    pointer-events: none;
    overflow: visible;
    position: relative;
    margin: auto;
}

.bernays .hypotheses {
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
    pointer-events: none;
    margin-bottom: 5px;
    margin-bottom: 2px;
    padding: 2px;
    border: 3px solid transparent;
    border-radius: var(--border-radius);
}

.bernays .hypotheses.active-scope {
    border: 3px dashed gray;
}

.bernays .hypotheses > :only-child {
    margin-left: auto;
    margin-right: auto;
}

.bernays .goal, .bernays .assumption, .bernays .conclusion > div {
    padding: var(--border-radius);
    border: var(--border-size) solid transparent;
    border-radius: var(--border-radius);
    min-width: 50px;
    text-align: center;
}

.bernays .assumption.current {
    width: fit-content;
}

.bernays .goal {
    width: fit-content;
    box-shadow: var(--box-shadow);
}
.bernays .pad {
    visibility: hidden;
}

.bernays .assumption {
    background: #C0ECCC;
    pointer-events: auto;
    box-shadow: var(--box-shadow);
}

.bernays .middle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4px;
    overflow-y: visible;
}

.bernays .name {
    text-align: right;
    width: 60px;
    flex-grow: 0;
    font-size: 0.8em;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: "Consolas", 'Courier New', Courier, monospace;
}

.bernays .bar {
    background-color: black;
    height: 2px;
    flex-grow: 1;
}

.bernays .discharge {
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: white;
    margin-left: 10px;
    border-radius: var(--border-radius);
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    box-shadow: var(--box-shadow);
}

.bernays .conclusion {
    margin-top: 5px;
    margin-left: 70px;
    pointer-events: none;
}

.bernays .conclusion > div {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.bernays .deriving {
    text-align: center;
}

.expr-tree-container {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
}

.expr-tree {
    display: block;
    margin: auto;
    position: relative;
}

.expr-tree line {
    stroke: #000;
    stroke-width: 2;
    stroke-linecap: round;
}

.expr-tree circle.node {
    fill: #fff;
}

.expr-tree text.label {
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 1.2em;
    font-family: "Consolas", 'Courier New', Courier, monospace;
}

.expr-tree text.label.active {
    cursor: pointer;
    fill: #2539ca;
    text-decoration: underline;
}

.expr-tree text.label.inactive {
    cursor: not-allowed;
}

.scroll-x {
    max-width: 100%;
    overflow-x: scroll;
}

.cols-2 {   
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
}

.diagram {
    display: block;
    margin: 40px auto;
}

table.operators {
    margin: 20px auto;
    border-collapse: separate !important;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
}

table.operators tr:nth-child(odd) {
    background-color: rgb(250, 250, 250);
}

table.operators td, table.operators th {
    padding: 5px 10px;
}

table.operators td:first-child {
    text-align: center;
}

@media print {
    p + p {
        text-indent: 2em;
    }

    .chapter-nav, .tryout {
        display: none;
    }


}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    body {
        font-size: 14pt;
    }

    .expr-input, .expr-inter-input {
        flex-direction: row;
    }

    .cols-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }

    .chapter-nav a > div {
        display: inline-block;
    }
}

@media (min-width: 992px) {
    main .illustration.right {
        margin-left: 20px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 20px;
        max-width: 40%;
        float: right;
    }

    main .illustration.left {
        margin-left: 0;
        margin-right: 20px;
        margin-top: 0;
        margin-bottom: 20px;
        max-width: 40%;
        float: left;
    }
}

@media (min-width: 1200px) {

}

.codewords {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 500px;
    width: 600px;
    margin: auto;
    overflow-x: auto;
    clear: both;
}

.codewords > div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.codewords > div > div {
    width: 120px;
    text-align: center;
}

.codewords > div > div:first-child {
    font-weight: bold;
}

.codewords > div > div:last-child {
    font-family: monospace;
}

@media screen and (max-width: 700px) {
    .codewords {
        flex-wrap: nowrap;
        height: fit-content;
        width: fit-content;
    }
}

.code-table {
    border-collapse: collapse;
    margin: auto;
}

.code-table th, .code-table td {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

.code-table td:first-child {
    font-weight: bold;
    text-align: center;
}

.code-fixed td {
    text-align: center;
}

.code-table td:last-child {
    font-family: monospace;
}